@import 'tailwindcss';
@plugin 'daisyui';

@plugin "daisyui" {
	themes:
		dim --default,
		dim --prefersdark;
}

@theme {
	--header-size: 46px;
}

.no-scroll {
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
